{% extends 'tidder/base.html' %}

{% load story_extras %}

{% load static %}

{% block title %}Tidder - {{ story.title }}{% endblock %}

{% block content %}

<p>
<a href="{{ story.url }}">{{ story.title }}</a><span class="domain"> {% if story.domain %} ({{ story.domain }}) {% endif %}</span>
</p>

<p>
{{ story.points }} points by <a href="/user_profile/{{ story.moderator.username }}">{{ story.moderator.username }}</a> {{ story.created_at|age }}
</p>

<p>
{{ story.description }}
</p>

<hr/>

<h4>Comments:</h4>

<form id="postcomment" method="post" action="">
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
		<textarea class="form-control" rows="3" placeholder="Description" name="content" value="" required></textarea>
		<button class="btn btn-sm btn-primary" type="submit" name="Submit">Submit</button>
		{% csrf_token %}
	</form>

<hr/>

<ul id="commenters">
	{% for c in comment_tree %}     
		<li id="{{ c.id }}" class="c" style="margin-left:{{ c.depth|add:c.depth }}em;">
			<p class="poster">{{ story.moderator.username }} - {{ c.date }}</p>
			<p>{{ c.content }}</p>
			<p><a href="" class="reply">reply</a></p>
		</li>
	{% empty %}
<br/>
	<p>There are currently no comments.</p>
	{% endfor %}
</ul>

{% endblock content %}