{% extends 'tidder/base.html' %}

{% load story_extras %}

{% load static %}

{% block title %}Tidder - {{ story.title }}{% endblock %}

{% block content %}

<div id="left"> 

	<div id="story-vote-{{ story.id }}" class="upvote">
		{% if story not in liked_stories %}
			<a id="story-vote-{{ story.id }}" class="upvote"></a>
		{% else %}
			<a id="story-vote-{{ story.id }}" class="upvote upvote-on"></a>
		{% endif %}

		<span class="count">{{ story.points }}</span>
		<a class="downvote"></a>
		<a class="star"></a>
	</div>

</div>

<div id="right">
	<div id="story-title-{{ story.id }}" class="title">

	<p>
	<h3><a href="{{ story.url }}">{{ story.title }}</a><small>  {% if story.domain %} ({{ story.domain }}) {% endif %}</small></h3>
	</p>

	<p>
	Posted by <b><a href="/user_profile/{{ story.moderator.username }}">{{ story.moderator.username }}</a></b> {{ story.created_at|age }}
	</p>

	</div>

</div>

<p>
{{ story.description }}
</p>

<hr/>

<h4>Add Comment:</h4>

{% if user.is_authenticated %}
	<form id="postcomment" method="post" action="">
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}
			<textarea class="form-control" rows="3" placeholder="Description" name="content" value="" required></textarea>
			<button class="btn btn-sm btn-primary" type="submit" name="Submit">Submit</button>
			{% csrf_token %}
		</form>
{% else %}
	<p><a href="{% url 'login' %}"><b>Login</b></a> to Comment</p>
{% endif %}

<hr/>

<ul id="commenters">
	{% for c in comment_tree %}     
		<li id="{{ c.id }}" class="c" style="margin-left:{{ c.depth|add:c.depth }}em;">
			<p class="poster"><b><a href="/user_profile/{{ c.comment_moderator.username }}">{{ c.comment_moderator.username }}</a></b> - {{ c.date |age }}</p>
			<p>{{ c.content }}</p>
			{% if user.is_authenticated %}
				<p><a href="" class="reply"><button type="button" class="btn btn-primary btn-xs">reply</button></a></p> 
			{% endif %}
		</li>
	{% empty %}
<br/>
	<p>There are currently no comments.</p>
	{% endfor %}
</ul>

{% endblock content %}