{% extends 'tidder/base.html' %}
{% load story_extras %}
{% load static %}

{% block title %}Tidder{% endblock %}

{% block content %}

<ol start="{{ list_start }}" class="main">
	{% if stories %}
		{% for story in stories %}
			<li>
				<h3><a href="{{ story.url }}">{{ story.title }}</a>
				<small> {% if story.domain %} ({{ story.domain }}) {% endif %}</small></h3>

				<p class="story-info">
					{{ story.points }} points by <a href="/user_profile/{{ story.moderator.username }}">{{ story.moderator.username }}</a> {{ story.created_at|age }} | <a href="{% url 'story' %}{{ story.id }}">Comments</a>
				</p>

			</li>
			<hr>
		{% endfor %}
	{% endif %}
</ol>

{% endblock content %}