{% extends 'tidder/base.html' %}
{% load story_extras %}
{% load static %}

{% block title %}Tidder{% endblock %}

{% block content %}

{% if stories %}
	{% for story in stories %}
		<p class="story-title">
			{% if story.domain %} 
				<h3><a href="{{ story.url }}">{{ story.title }}</a>
				<small> ({{ story.domain }})</small></h3>
			{% else %}
				<h3><a href="{% url 'story' %}{{ story.id }}">{{ story.title }}</a></h3>
			{% endif %}	
		</p>

		<p class="story-info">
			{{ story.points }} points by <a href="/user_profile/{{ story.moderator.username }}">{{ story.moderator.username }}</a> {{ story.created_at|age }} | <a href="{% url 'story' %}{{ story.id }}">Comments</a>
		</p>
		<hr>
	{% endfor %}
{% endif %}

{% endblock content %}