{% extends 'tidder/base.html' %}
{% load story_extras %}
{% load static %}

{% block title %}Tidder{% endblock %}

{% block content %}

<ol start="{{ list_start }}">
	{% if stories %}
		{% for story in stories %}
			<li>
				<p class="story-title">
					{% if user.is_authenticated and story not in liked_stories %}
					<a href ="/vote/" id="story-vote-{{ story.id }}" class="vote" ><img src="{% static 'img/arrow.gif' %}"></a>
					<a href="{{ story.url }}" id="story-title-{{ story.id }}">{{ story.title }}</a><span class="domain"> {% if story.domain %} ({{ story.domain }})	{% endif %}</span>
					{% else %}
					<a href="{{ story.url }}" style="margin-left: 15px;">{{ story.title }}</a><span class="domain"> {% if story.domain %} ({{ story.domain }}) {% endif %}</span>
					{% endif %}
				</p>

				<p class="story-info" style="margin-left: 15px;">
					{{ story.points }} points by <a href="/user_profile/{{ story.moderator.username }}">{{ story.moderator.username }}</a> {{ story.created_at|age }} | <a href="/story/{{ story.id }}">Comments</a>
				</p>

			</li>
		{% endfor %}
	{% endif %}
</ol>

{% endblock content %}

<!-- 
<button id ="upvote" type="button" class="btn btn-success btn-sm">
<span class="glyphicon glyphicon-thumbs-up"></span>
</button>
<button id ="downvote" type="button" class="btn btn-danger btn-sm">
<span class="glyphicon glyphicon-thumbs-down"></span>
</button>

-->