{% extends 'tidder/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container">

      <form class="form-signin" role="form" id="login_form" method="post" action="/login/">
      	{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Username" name="username" value="" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" value="" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
		
{% endblock %}